form{
    position: relative;
    top: 50px;
    left: 30%;
}

form *{
    margin: 10px;
}

#showList{
    position: absolute;
    top: 50%;
    left: 30%;
    background-color: aliceblue;
    width: 50%;
}

.items{
    border: 1px solid black;
}

#form{
    position: absolute;
    background-color: rgb(185, 185, 212);
    height: 200px;
    width: 50%;
    left: 30%;
}